@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Russo+One');


*{
	margin: 0;
	padding: 0;
    font-weight: 300;

	font-family: 'Russo One', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;

}
::-webkit-scrollbar{
    width:8px;
	height: 8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    background-color: rgba(80, 80, 80, 0.68);
	border-color: #000;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: rgba(80, 80, 80, 0.68);
    background-color: rgba(80, 80, 80, 0.68);
}
::-webkit-scrollbar-track{
	background-color: rgba(80, 80, 80, 0.3);
}

hr{
  display: block;
  height: 1px;
  border: 0;
}

/*Ссылки*/
a {
  color: #fff;
  text-decoration: none;
}

a:hover{
	color: #f44336;
	text-decoration: none;
}

a:active{
	text-decoration: none;
}
/*Анимация загрузки страницы*/
.loader {
	background: none repeat scroll 0 0 #2f2f2f;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader .loader_inner {
	background-image: url(../img/loading.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-posirion: center center;
	background-color: #2f2f2f;
	height: 64px;
	width: 64px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body{
	/*background: linear-gradient(45deg, #333 25%, rgba(244, 67, 54, 0.95) 0, rgba(244, 67, 54, 0.95) 50%, #333 0, #333 75%, rgba(244, 67, 54, 0.95) 0);
    background-size: 62.426406871px 62.426406871px;*/
	background: #fff;
    background: #2f2f2f;
}
.body{
	overflow: hidden;
}

/*Шапка*/
.header_color{
	width: 100%;
	height: 76px;
	position: relative;
    background: #2f2f2f;
}
header{
	width: 100%;
	height: 76px;
	background: #2f2f2f;
	z-index: 999;
}
.header {
	position: fixed;
	top: 0px;
}
/*Логотип*/
.logo{
	float: left;
	padding-top: 22px;
	padding-left: 8%;
	width: 50%;
}
.logo a{
	float: left;
	color: #fff;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
}
.logo img{
	margin-top: -5px;
	width: 40px;
	height: 40px;
}
/*Меню_big*/
.menu{
	float: right;
	padding-top: 22px;
	padding-right: 8%;
	width: 50%;
}
.menu a{
	float: right;
	color: #fff;
	font-size: 20px;
	margin: 0 10px 0 10px;
	font-family: 'Russo One', sans-serif;
	transition: color .35s;
}
.menu a:hover{
	color: #f44336;
}
/*Меню_little*/
.menu_little{

}
.menu_buttom {
	float: right;
	position: relative;
	z-index: 999;
	margin-right: 8%;
	margin-top: 25px;
}
.menu_buttom svg {
	width: 25px;
	opacity: 1;
	fill: #fff;
}

.menu_little{
	display: none;
	z-index: 998;
	width: 100%;
	height: 100%;
}
.main_head {
	position: absolute;
	width: 100%;
	height: 100%;
}
.top_wrapper{
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0,0,0,.9);
}
.top_descr{
	display: table-row;
}
.top_centered{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.top_text{
	display: inline-block;
	width: 100%;
}
.menu_button_a>ul,li{
	list-style-type: none;
}
.menu_button_a>ul>li>a{
	display: block;
	padding: 20px 0;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 4px;
	font-size:42px;
	color: #fff;
}
.menu_button_a>ul>li>a:hover{
	color: #F44336;
	background-color: rgba(255,255,255,.05);
}


/*big_header*/
.big_header{
	width: 100%;
	min-height: 200px;
	position: relative;
	display: table;
	overflow: hidden;
	background: #000;
}
.img_bacgrount{
	width: 100%;
	height: 600px;
	background: url(../img/Stock.jpg) center repeat #2f2f2f;
	background-size: cover;
    background-blend-mode: lighten;
    background-attachment: fixed;
	position: absolute;
	/*-webkit-filter: blur(3px);*/
	opacity: 0.8;
}
.container{
	width: 1000px;
	text-align: left;
	color: #fff;
	padding-top: 40px;
	position: relative;
	z-index: 10;
}
.big_header_logo{
	font-size: 50px;
	font-family: 'Russo One', sans-serif;
	padding-top: 10px;
}
.big_header_text{
	font-size: 25px;
}
.container p{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}


/*Контент*/
.content{
	width: 100%;
	min-height: 200px;
}
.title{
	width: 1000px;
	text-align: left;
	color: #2f2f2f;
	padding-top: 10px;
	position: relative;
	z-index: 10;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Russo One', sans-serif;
}
.block_content{
	width: 1000px;
	padding-top: 10px;
	position: relative;
	padding-bottom: 30px;
    overflow-x: auto;
    white-space: nowrap;
}
.name{
	color: #fff;
	font-size: 25px;
}
.text{
	color: #fff;
	font-size: 20px;
}

/*Навыки*/
.scale{
	float: left;
	width: 132px;
	height: 100px;
	background: rgba(244, 67, 54, 0.95);
	margin: 5px;
	padding-top: 15px;
}

/* Slider */
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}
.slider {
	width: 90%;
	padding: 0 30px;
	position: relative;
}
.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }
.slide-list {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 300px;
}
.slide-wrap {
	position: relative;
	left: 0px;
	top: 0;
	width: 10000000px;
}
.slide-item {
	width: 455px;
	padding: 10px;
	float: left;
}
.navy {
	position: absolute;
	top: 15px;
	z-index: 99;
	height: 285px;
	width: 30px;
	cursor: pointer;
}
.prev-slide {
	left: 10px;
	background: #dbdbdb url(../img/left-arrow.png) 11px 50% no-repeat
}
.next-slide {
	right: 0px;
	background: #dbdbdb url(../img/right-arrow.png) 13px 50% no-repeat
}
.navy.disable {
	background: #dbdbdb;
}
/* навигация старт/пауза */
.auto {
    z-index: 999;
    height: 30px;
    width: 285px;
	cursor: pointer;
	margin: 10px 0 0 0;
}
.play {
	background: #dbdbdb url(../img/right-arrow.png) center no-repeat;
}
.pause {
	background: #dbdbdb url(../img/pause.png) center no-repeat;
}

/*Работы*/
.project{
	width: 450px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    display: -webkit-inline-box;
}
.project img{
	width: 100%;
	position: absolute;
}
.detail_project{
	width: 400px;
	height: 125px;
	background: rgba(244, 67, 54, 0.95);
	position: relative;
	z-index: 10;
	text-align: left;
	padding: 10px 20px;
	float: left;
	margin-top: 150px;
}
.detail_project a{
	width: 70px;
    background: #2f2f2f;
    padding: 3px 10px;
    margin-top: 10px;
    position: relative;
    display: grid;
	font-size: 13px;
	text-transform: uppercase;
	box-shadow: 0 2px 12px rgba(0,0,0,0.2);
	transition: all .5s;
	background: #2f2f2f;
	color: #fff;
}
.detail_project a:hover{
	transition: all .5s;
	box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
	background: #2f2f2f;
	color: #fff;
}
.view_project{
	margin-top: 123px;
	background: #2f2f2f;
	width: 190px;
	height: 54px;
	color: #fff;
	transition: color .35s;
	padding: 10px 20px;
}
.view_project:hover{
	color: #f44336;
	text-decoration: none;
}
.glyphicon-chevron-right{
	margin-left: 10px;
	font-size: 19px;
}

/*Контакты*/
.block_email{
	float: left;
	width: 69%;
	height: 317px;
	padding-top: 20px;
	padding-bottom: 20px;
	/*border: 1px solid #2f2f2f;*/
	background: rgba(244, 67, 54, 0.95);
}
.form button {
	border: none;
	line-height: 40px;
	padding: 0 25px;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 10px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.2);
	transition: all .5s;
	background: #2f2f2f;
	color: #fff;
}
.form button:hover{
	transition: all .5s;
	box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
	background: #2f2f2f;
	color: #fff;
}
.form-group {
	display: block;
	margin-bottom: 20px;
}
.form-group .color_element {
	font-weight: 700;
	font-size: 18px;
}
.form-group .text-danger {
	font-size: 11px;
	margin-top: 5px;
	display: block;
}
.form-group .text-danger ul,
.form-group .text-danger li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.form-group input,
.form-group textarea {
	display: block;
	width: 70%;
	margin-top: 5px;
	height: 40px;
	text-indent: 12px;
	font-size: 12px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.form-group textarea {
	height: 80px;
	padding-top: 10px;
}

.form-group input[type="text"] { color: #fff; }
.form-group input[type="text"]::-moz-placeholder { color: #fff; }
.form-group input[type="text"]::-webkit-input-placeholder { color: #fff; }
.form-group input[type="text"]:-ms-input-placeholder { color: #fff; }
.form-group input[type="text"]::-ms-input-placeholder { color: #fff; }
.form-group input[type="text"]::placeholder { color: #fff; }
.form-group input[type="email"] { color: #fff; }
.form-group input[type="email"]::-moz-placeholder { color: #fff; }
.form-group input[type="email"]::-webkit-input-placeholder { color: #fff; }
.form-group input[type="email"]:-ms-input-placeholder { color: #fff; }
.form-group input[type="email"]::-ms-input-placeholder { color: #fff; }
.form-group input[type="email"]::placeholder { color: #fff; }
.form-group textarea[type="text"] { color: #fff; }
.form-group textarea[type="text"]::-moz-placeholder { color: #fff; }
.form-group textarea[type="text"]::-webkit-input-placeholder { color: #fff; }
.form-group textarea[type="text"]:-ms-input-placeholder { color: #fff; }
.form-group textarea[type="text"]::-ms-input-placeholder { color: #fff; }
.form-group textarea[type="text"]::placeholder { color: #fff; }


.block_social{
	float: right;
	width: 30%;
	height: 317px;
	/*border: 1px solid #2f2f2f;*/
}
.social{
	width: 72px;
	height: 72px;
	background: rgba(244, 67, 54, 0.95);
	margin-top: 5px;
}
.social img{
	width: 55px;
	margin-top: 8px;
}


/* Поддержка */
.support{
	min-width: 172px;
	height: 100px;
	background: rgba(244, 67, 54, 0.95);
	padding-top: 15px;
	display: inline-block;
	margin: 1%;
}

/*Подвал*/
footer{
  width: 100%;
  height: 100px;
  padding: 40px;
  font-size: 15px;
  font-weight: 100;
  background: #2f2f2f;
  color: #fff;
}
