AddDefaultCharset UTF-8
RewriteEngine On
ErrorDocument 404 /err404.html

RewriteRule ^index$ /index.html [L]
RewriteRule ^search$ /search.html [L]
RewriteRule ^catalog$ /catalog.html [L]
RewriteRule ^favorites$ /favorites.html [L]
RewriteRule ^season$ /season.html [L]
RewriteRule ^schedule$ /schedule.html [L]
RewriteRule ^settings$ /settings.html [L]
RewriteRule ^myHistory$ /myHistory.html [L]
RewriteRule ^release$ /release.html [L]
