:root {
  --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04),0px 0px 2px rgba(0, 0, 0, 0.06),0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04),0px 2px 6px rgba(0, 0, 0, 0.04),0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04),0px 2px 6px rgba(0, 0, 0, 0.04),0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.09),0px 16px 24px rgba(0, 0, 0, 0.09),0px 4px 8px rgba(0, 0, 0, 0.09),0px 0px 1px rgba(0, 0, 0, 0.09);
  --card-border-radius: 15px;
  --border-radius: 10px;
  --border-radius-2: 10px;
  --section-separation: 40px;

  --card-background: #f3f3f3;
  --card-background-2: #e7e7e7;
  --card-background-3: #d53c3c;
  --card-background-3: linear-gradient(140deg, #d93333, #b91d1d);
  --card-background-4: #e7e7e7;
  --card-background-5: #d53c3c;
  --card-text-color: #565656;
  --card-text-color-2: #efefef;
  --card-text-color-3: #404040 !important;
}
#preloader_preload{
  background: url('../img/2.gif');
}
